<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Row to JSON - An easier way to get your stats from your csv files</title>
</head>
<body>
  <!-- Start header -->
<header>
    <nav>
        <ul>
          <li>RowToJSON</li>
          <li>About</li>
          <li>Github</li>
        </ul>
    </nav>
</header>
<!-- END header -->

<!--Start Main  -->
<main>

</main>
<!--End Main  -->

<!--Start Footer  -->
<footer>

</footer>
<!--End Footer  -->
</body>
</html>
