<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Row to JSON - An easier way to get your stats from your CSV files</title>
  <link rel="stylesheet" href="https://cdn.rawgit.com/jgthms/minireset.css/master/minireset.css">  <!--CSS Reset-->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>  <!--Import Vue -->
  <link rel="stylesheet" href="main.css">
</head>
<body>
<!--Header Section-->
<header id="header">

</header>
<!-- End Header Section-->
<!--Main section-->
<main id="app">
  {{message}}
</main>
<!--End Main Section-->
<footer id=""footer>

</footer>
<script src="header.js"></script>
</body>
</html>
